body {
    margin: 0px;
}

#main {
    width: 100%;
    min-height: 590px;
    background-color: #DEDEDE;
    float: left;
}

#main pre {
    text-align: center;
    font-size: 50px;
}

#main h4 {
    text-align: center;
    font-style: italic;

}

.center {
    width: 100%;
    min-height: 540px;
    background-color: #DEDEDE;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.shape1 {
    width: 33%;
    min-height: 270px;
    background-color: aqua;
    float: left;
}
.shape1 h2 {
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
    margin-left: 20px;
    
    
}
.shape2 {
    width:  33%;
    min-height: 270px;
    background-color: #FEFEFE;
    float: left;
}
.shape3 {
    width:  33%;
    min-height: 270px;
    background-color:#DDB50C;
    float: left;
}
.shape3 h2 {
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
    margin-left: 20px;
}
.shape4 {
    width:  33%;
    min-height: 270px;
    background-color: #FEFEFE;
    float: left;
}
.shape5 {
    width:  33%;
    min-height: 270px;
    background-color:#6177FF;
    float: left;
}
.shape5 h2 {
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
    margin-left: 20px;  
}
.shape6 {
    width:  33%;
    min-height: 270px;
    background-color: #FEFEFE;
    float: left;
}

